@model MVC.Models.Stop

@{
    <link rel="stylesheet" href="~/css/bus_index.css" />
}

<div class="modal fade" id="editStopModal" tabindex="-1" aria-labelledby="busModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div id="busModalContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="busModalLabel">Edit Stop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStopForm">
                    <input type="hidden" id="editStopId" name="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="bus-number-input" class="form-group">
                        <label asp-for="Name" class="control-label">New Stop Number: </label>
                        <input type="text" placeholder="Enter stop name..." asp-for="Name" name="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                @* TODO: Add edit stop functionality with routes included *@
                <button type="button" class="btn btn-primary" onclick="editStop()">Confirm</button>
            </div>
        </div>
    </div>
</div>
