@model MVC.ViewModels.CreateLoopViewModel

@{
    <link rel="stylesheet" href="~/css/loop_index.css" />
}

<div class="modal fade" id="editLoopModal" tabindex="-1" aria-labelledby="editLoopModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div id="editLoopModalContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="editLoopModalLabel">Edit Loop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editLoopForm" asp-controller="Loop" asp-action="Edit" method="post">
                    <input type="hidden" id="editLoopId" name="Loop.Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="edit-loop-name-input" class="form-group">
                        <label asp-for="Loop.Name" class="control-label">Loop name: </label>
                        <input type="text" placeholder="Enter loop name..." asp-for="Loop.Name" name="Loop.Name" class="form-control"/>
                        <span asp-validation-for="Loop.Name" class="text-danger"></span>
                    </div>

                    <div id="edit-routes-container">
                    </div>

                    <button type="button" class="btn btn-secondary" id="edit-add-route-button" onclick="addRouteRow(null, 'edit-routes-container')">Add Route</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="editLoopForm" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>