@model MVC.ViewModels.MapViewModel

<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>

<div id="map"></div>

<script>
    let map;

    async function initMap() {
        // The location of Bracken Library
        const position = { lat: 40.20252042888084, lng: -85.40723289777657 };
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerView } = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
            zoom: 4,
            center: position,
            mapId: "DEMO_MAP_ID",
        });

        const stops = @Html.Raw(Json.Serialize(Model.Stops));

        stops.forEach(stop => {
            const stopPosition = { lat: stop.latitude, lng: stop.longitude };
            const marker = new AdvancedMarkerView({
                map: map,
                position: stopPosition,
                title: stop.name,
            });
        });
    }

    initMap();
</script>
<script src="https://maps.googleapis.com/maps/api/js?kay=&callback=initMap" async></script>