#entry-index-viewer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#entry-index-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 10px 0px;
    padding-right: 10px;
}

#separator {
    border: none;
    margin-bottom: 20px;
}

#filters {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
}

.filter {
    margin-right: 30px;
}

.filter > label {
    font-size: 18px;
    margin-right: 10px;
}

.filter > select {
    padding: 5px;
}

#entry-table {
    vertical-align: middle;
}

#entry-table th:first-child,
#entry-table td:first-child {
  text-align: left;
  padding-left: 20px;
}

#entry-table td:last-child {
    text-align: right;
    padding-right: 50px;
}

#entry-table th:last-child {
    text-align: right;
    padding-right: 50px;
}

#entryModalContent {
    padding: 15px 30px;
}

#entry-number-input {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    vertical-align: middle;
    margin-bottom: 20px;
}

#entry-number-input > label {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-right: 50px;
}

#create-button {
    display: flex;
    margin-left: auto;
}