@model MVC.ViewModels.DashboardViewModel;

@{
    ViewData["Title"] = "Driver Dashboard";
}

<div>
    <div id="driver-dashboard-header">
        <h1>Driver Index</h1>
    </div>
    <hr id="separator">
    <table id="driver-table" class="table table-striped">
        <thead>
            <tr>
                <th>Driver Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in Model.Drivers)
            {
                <tr>
                    <td id="@driver.Id">@driver.FirstName @driver.LastName</td>
                    <td>
                        <form asp-controller="Driver" asp-action="ApproveDriver" method="post">
                            <input type="hidden" name="userId" value="@driver.Id" />
                            <button type="submit" class="btn btn-secondary">Approve</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>