@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 50px;">BSU Bus Management System</h1>
    <h2>Use the navigation bar above to get started.</h2>
</div>
