@model IEnumerable<MVC.Models.Bus>

@{
    ViewData["Title"] = "Bus Index";
    <link rel="stylesheet" href="~/css/bus_index.css" />
}

<div>
    <div id="bus-index-header">
        <h1>Bus Index</h1>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBusModal">
            Create Bus
        </button>
    </div>
    <hr id="separator">
    <table id="bus-table" class="table table-striped">
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bus in Model)
            {
                <tr>
                    <td>@bus.BusNumber</td>
                    <td>
                        <a onclick="showEditBusModal(@bus.Id)" class="btn btn-secondary">Edit</a>
                        <a onclick="showDeleteBusModal(@bus.Id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Create Bus Modal -->
@await Html.PartialAsync("_CreateBusModal", new MVC.Models.Bus())

<!-- Delete Bus Modal -->
@await Html.PartialAsync("_DeleteBusModal")

<!-- Edit Bus Modal -->
@await Html.PartialAsync("_EditBusModal", new MVC.Models.Bus())


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bus_actions.js"></script>
}